@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}
nav{

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 10 100px;
  
}

nav form{
  display: flex;
  height: 28px;
  padding: 0px;
  background: white;
  min-width: 18%!important;
  border-radius: 3px;
  border: 2px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 20px;
  color: black;
  font-size: 20px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: black;
  font-size: 17px;
  background: grey;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 20px;
  color: black;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
